

#footer-parent{
    background-color: #111111;
    padding-top:20px ;
    /* margin-top: 50px; */
  }
  #footer {
    padding: 0% 0 3% 0;
    margin: 0 35%;
    /* border: 2px solid green; */
    text-align: center;
  }
  #icons{
    display: flex;
    gap: 15%;
    margin: 0 30%;
  
  }
  
  .footer-icons {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    /* margin-right: 40px; */
  }
  
  #ref {
    text-decoration: none;
  }