#main{
    display: flex;
    justify-content: space-around;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/008/889/844/small/quiz-set-in-doodle-style-illustration-icon-question-symbol-for-print-and-design-quiz-and-exam-concept-isolated-element-on-black-background-collection-of-sign-for-school-and-event-vector.jpg");
}
.container{
  padding: 20px;
    margin:70px;
    /* background-image: url('https://www.shutterstock.com/image-vector/neon-light-glow-effect-quiz-600w-2169820083.jpg'); */
    background-image: linear-gradient(rgb(121, 18, 19), rgb(49, 11, 11), rgba(0, 0, 0, 1));
}


.image-logo{
 width: 100%px;
 height: 100%;
}
.container p{
    font-size: smaller;
    color: #9c8d9c;
}
label{
    font-size: smaller; 
    color: #9c8d9c;
}

.container-2 input {
    padding-left:15px;
    height:50px;
    width:350px;
 margin:8px;
 border:1px solid #9c8d9c

 }

 


 .container-btn{
    width: 380px; 
  
    height:35px;
    background-color: #1877F2;
    color: white;
 }
 .container-btn:hover{
    background-color: orangered;
 }